@model PAWUNED_EdgarArias_Proyecto2.Models.Oferta

@{
    ViewData["Title"] = "Create";
}

@inject IHttpContextAccessor HttpContextAccessor

@{
    var userID = HttpContextAccessor.HttpContext.Session.GetString("id");
    var tipoUsuario = HttpContextAccessor.HttpContext.Session.GetString("tipoUsuarioSesion");
    var nombreUsuario = HttpContextAccessor.HttpContext.Session.GetString("nombreUsuario");
    var nombreArtista = HttpContextAccessor.HttpContext.Session.GetString("nombreArtista");

}



<h1>Realizar una oferta</h1>

<h4>Todas las cantidades están expresadas en Dólares de los EEUU</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdSubasta" class="control-label"></label>
                <input asp-for="IdSubasta" class="form-control" value="@ViewBag.IdSubasta" />
                @* <select asp-for="IdSubasta" class ="form-control" asp-items="ViewBag.IdSubasta"></select> *@
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioComprador" class="control-label"></label> 
                <input asp-for="IdUsuarioComprador" class="form-control" value="@userID" />
                @* <select asp-for="IdUsuarioComprador" class ="form-control" asp-items="ViewBag.IdUsuarioComprador"></select> *@
            </div>
            <div class="form-group">
                <label asp-for="MontoOferta" class="control-label"></label>
                <input asp-for="MontoOferta" class="form-control" value="@ViewBag.MontoOferta" />
                <span asp-validation-for="MontoOferta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear Oferta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
<a asp-controller="Home" asp-action="Privacy">Regresar a mi perfil</a>

</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        window.onload = function () {
            // Obtener los parámetros de la URL
            const urlParams = new URLSearchParams(window.location.search);
            // Obtener el valor de idSubasta de la url
            const idSubasta = urlParams.get('idSubasta');
            // colocar el valor en el formulario
            document.getElementById("IdSubasta").value = idSubasta;
            
        }
    </script>



}
