@model PAWUNED_EdgarArias_Proyecto2.Models.Transaccione

@{
    ViewData["Title"] = "Create";
}

@inject IHttpContextAccessor HttpContextAccessor

@{
    var userID = HttpContextAccessor.HttpContext.Session.GetString("id");
    var tipoUsuario = HttpContextAccessor.HttpContext.Session.GetString("tipoUsuarioSesion");
    var nombreUsuario = HttpContextAccessor.HttpContext.Session.GetString("nombreUsuario");
    var nombreArtista = HttpContextAccessor.HttpContext.Session.GetString("nombreArtista");

}



<h1>Registrar transacción</h1>

<h4>Transacciones </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuarioComprador" class="control-label"></label>
                <input asp-for="IdUsuarioComprador" class="form-control" value="@userID" />
                @* <select asp-for="IdUsuarioComprador" class ="form-control" asp-items="ViewBag.IdUsuarioComprador"></select> *@
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioArtista" class="control-label"></label>
                <input asp-for="IdUsuarioArtista" class="form-control" />
                <span asp-validation-for="IdUsuarioArtista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdObra" class="control-label"></label>
                <select asp-for="IdObra" class ="form-control" asp-items="ViewBag.IdObra"></select>
            </div>
            <div class="form-group">
                <label asp-for="MontoTransaccion" class="control-label"></label>
                <input asp-for="MontoTransaccion" class="form-control" />
                <span asp-validation-for="MontoTransaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaTransaccion" class="control-label"></label>
                <input asp-for="FechaTransaccion" class="form-control" type="date"/>
                <span asp-validation-for="FechaTransaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar transacción" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
<a asp-controller="Home" asp-action="Privacy">Regresar a mi perfil</a>

</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
